.content-column {
  padding-top: 0px;
}
.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}
.summary {
  display: flex;
  justify-content: center;
  align-items: center;
}
.products {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.product {
  width: 100%;
  font-weight: bold;
  display: grid;
  grid-template-areas: "name name image" "description description image" "button button image" ". . image";
  grid-template-columns: 1fr 1fr 3fr;
  margin-bottom: 100px;
  grid-column-gap: 100px;
}
.product_name {
  grid-area: name;
  font-size: 36px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  background-color: #affcd7;
  border-radius: 4px;
  border: solid;
  border-width: thin;
}
.product_image {
  grid-area: image;
  width: 100%;
  height: 110%;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0px 18.025px 43.775px rgba(0, 0, 0, 0.25);
}
.product_description {
  grid-area: description;
  font-weight: 400;
  margin-bottom: 75px;
}
.header_cart {
  position: absolute;
  right: 40px;
}
.product_price {
  font-size: 24px;
  margin: 10px;
}
.product_total_price {
  color: #f85e5e;
  font-weight: 700;
  margin-left: 10px;
}
.product_details {
  margin: 10px;
  color: white;
  background-color: rgb(67, 170, 196);
  border: none;
  border-radius: .3em;

}
.product_buy {
  margin: 10px;
  color: white;
  background-color: #EB5757;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}
.product .buy-button {
  margin-left: 30px;
}
.product_button-container {
  display: flex;
  flex-direction: row;
  grid-area: button;
}
.product:nth-of-type(odd) {
  grid-template-areas: "image name name" "image description description" "image button button" "image . .";
  grid-template-columns: 3fr 1fr 1fr;
}
